/*date of creation: 12th of October, 2022
       originally created by: Cabbage Sorter
       Analized by Gio*/

html {
  margin: auto;
  color-scheme: dark !important;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

/* MAIN CONTENT AND STUFF */

:root {
  --background-color: black;
  --background-image: url("../assets/videos/main_static.png");
  font-family: "estyle-regular";
  text-shadow:black;
  color: #ff0f0f;
}

body {
  margin: auto;
  background-image: var(--background-image);
  background-color: var(--background-color);

  /* SET BACKROUND TO STRETCH */
  /* background-size: cover; */
}

.main {
  width: 1000px;
  margin: 0 auto;
  max-width: 100%;
}

/* H E A D E R   S H I T */

.header {
  margin-top: 2em;
  position: static;
  font-family: "planetk-regular";
  font-size: x-large;
  padding: 5px;
  background-size: auto;
  text-shadow: 0.5em 0 0 rgba(150, 0, 0, 0.75),
    -0.25em -0.05em 0 rgba(252, 248, 4, 0.75),
    0.25em 0.05em 0 rgba(44, 247, 213, 0.75);
  animation: glitch-h 128ms infinite;
}

.header span {
  color: red;
  font-size: 56px;
}
.header span a {
  text-decoration: none;
  color: inherit;
}
.header span a:hover {
  transition: none;
  color: whitesmoke;
}
.header span a:active {
  transition: none;
}

/* GRID? TF ARE THOSE??? */

.grid-container {
  display: grid;
  grid-template-rows: 700px 50px;
  grid-template-columns: 200px 800px;
  grid-gap: 0px;
}
.grid-container-right {
  top: 0;
  right: 0;
  margin-right: 25%;
}

.buttons ul {
  display: flex;
  list-style: none;
  padding: 4px;
  margin-left: 1em;
  margin-top: 3.5em;
}

.buttons a {
  margin: 2px;  
}

/* N A V B A R   B U S S I N E S S */

.navbar {
  grid-column: 1 / 1;
  padding: 1.8em;
  padding-left: 0%;
  padding-top: 0%;
  margin-top: 1.4em;
}
.navbar h2 {
  font-size: x-large;
  color: red;
  text-shadow: 0.5em 0 0 rgba(150, 0, 0, 0.75),
    -0.25em -0.05em 0 rgba(252, 248, 4, 0.75),
    0.25em 0.05em 0 rgba(44, 247, 213, 0.75);
  animation: glitch-h 128ms infinite;
  text-align: left;
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
  border: #ff0f0f solid 2px;
  background-color: black;
  padding: 3px;
}

.navbar h2:hover {
  color: white;
}

.navbar a {
  text-decoration: none;
  color: inherit;
}

.navbar li {
  list-style: square;
  margin-left: 0.2em;
  margin-top: 5px;
  text-align: left;
}
.navbar li:hover {
  color: white;
  border: #ff0f0f solid 1px;
  text-decoration: line-through;
  animation: glitch-h 180ms infinite;
  /* add a random rotation effect when hovered inshallah */
}
.navbar p {
  font-weight: bold;
}

.main-content {
  grid-column: 2 / 2;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-rows: 40% 5% 25% 30%;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  /* animation: glitch-n 50ms infinite; */
}

/* FOOTY BUSSINESS */

.footer {
  grid-column: 1 / span 2;
  grid-row: 2 / 2;
  text-align: center;
}

.footer a:hover {
  color: white;
  animation: glitch-n 50ms infinite;
}

.silly-footer a{
  font-size: larger;
  font-weight: bold;
  color:rgb(156, 23, 19);
}

.silly-footer a:link {
  text-decoration: none;
  color: #ff0f0f;
}

.inspired {
  font-size: small;
  color: rgb(116, 10, 7);;
}

.inspired a {
  text-decoration: none;
  color: rgb(177, 22, 17);
}

.inspired a:hover {
  text-decoration: none;
  color: green;
}

/* Gio was Here  */
/* The poes */


/*M A I N  C O N T E N T  G R I D*/

.page-about {
  grid-column: 1 / span 4;
  padding: 10px;
  display: flex;
  align-items: center;
  margin: 10px;
}

.welcome {
  font-size: 22px;
  margin: 2px;
  margin-top: 8em;
  text-align: left;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.welcome h2 {
  font-weight: lighter;
  font-family: "planetk-regular";
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

.main-content-img {
  margin: 10px;
  display: flex;
  background-color: var(--background-color);
  grid-column: 1 / span 2;
  grid-row: 2 / 2;
  border: 1px solid red;
}
.main-content-img img {
  max-width: 100%;
}

.main-content a {
  text-decoration: none;
  color: darkred;
}

.page-updates {
  scrollbar-width: none;
  background-color: black;
  height: auto;
  grid-column: 1 / span 4;
  grid-row: 4 / 4;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: -2.3em;
  margin-bottom: 1em;
  padding: 10px;
  border: 3px solid red;
}
.page-updates li {
  margin-right: 5em;
  padding: 10px;
  border-bottom: darkred 1px solid;
}

.page-updates li :hover {
  color: white;
  animation: glitch-h 64ms infinite;
}

.page-updates p {
  font-weight: bold;
  padding: 5px;
}

.page-updates-heading {
  border: red 1px solid;
  text-align: center;
  font-size: larger;
}