/*date of creation: 12th of October, 2022
       originally created by: Cabbage Sorter
       Analized by Gio*/
/* M A I N  G R I D */

html {
  margin: auto;
  color-scheme: dark !important;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: "blackcasper-regular";
  src: url("../assets/fonts/blackcasper-webfont.woff2") format("woff2"),
       url("../assets/fonts/blackcasper-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "planetk-regular";
  src: url("../assets/fonts/planetk-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "dotgothic16-regular";
  src: url("../assets/fonts/dotgothic16-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@keyframes glitch-h {
  0% {
    text-shadow: 0.05em 0 0 rgba(150, 0, 0, 0.75),
      -0.05em -0.025em 0 rgba(252, 248, 4, 0.75);
  }
  14% {
    text-shadow: 0.05em 0 0 rgba(150, 0, 0, 0.75);
  }
  15% {
    text-shadow: -0.05em -0.025em 0 rgba(150, 0, 0, 0.75);
  }
  49% {
    text-shadow: -0.05em -0.025em 0 rgba(150, 0, 0, 0.75);
  }
  50% {
    text-shadow: 0.025em 0.05em 0 rgba(150, 0, 0, 0.75),
      0 -0.05em 0 rgba(44, 247, 213, 0.75);
  }
  99% {
    text-shadow: 0.025em 0.05em 0 rgba(150, 0, 0, 0.75),
      0.05em 0 0 rgba(252, 248, 4, 0.75);
  }
  100% {
    text-shadow: -0.025em 0 0 rgba(150, 0, 0, 0.75) -0.025em -0.025em 0
        rgba(252, 248, 4, 0.75),
      -0.025em -0.05em 0 rgba(44, 247, 213, 0.75);
  }
}

@keyframes glitch-n {
  0% {
    text-shadow: 0.05em 0 0 rgb(201, 142, 142);
  }
  14% {
    text-shadow: 0.05em 0 0 rgb(233, 155, 11);
  }
  15% {
    text-shadow: -0.08em -0.025em 0 rgb(9, 156, 175);
  }
  49% {
    text-shadow: -0.05em -0.025em 0 rgb(165, 6, 6);
  }
  50% {
    text-shadow: 0.025em 0.05em 0 rgb(8, 196, 108);
  }
  94% {
    text-shadow: 0.065em 0.05em 0 rgb(36, 91, 194);
  }
  100% {
    text-shadow: -0.025em 0 0 rgb(177, 166, 166);
  }
}

:root {
  --background-color: black;
  --background-image: url(/assets/videos/main_static.png);
  font-family: "dotgothic16-regular";
  color: #ff0f0f;
}

body {
  margin: auto;
  background-image: var(--background-image);
  background-color: var(--background-color);

  /* SET BACKROUND TO STRETCH */
  /* background-size: cover; */
}

.main {
  width: 1000px;
  margin: 0 auto;
  max-width:100%;
}

.header {
  position: static;
  font-family: "planetk-regular";
  font-size: x-large;
  padding: 5px;
  background-size: auto;
  text-shadow: 0.5em 0 0 rgba(150, 0, 0, 0.75),
              -0.25em -0.05em 0 rgba(252, 248, 4, 0.75),
               0.25em 0.05em 0 rgba(44, 247, 213, 0.75);
  animation: glitch-h 128ms infinite;
}

.header span {
  color: red;
  font-size: 56px;
}
.header span a {
  text-decoration: none;
  color: inherit;
}
.header span a:hover {
  transition: none;
  color: whitesmoke;
}
.header span a:active {
  transition: none;
}

.grid-container {
  display: grid;
  grid-template-rows: 700px 50px;
  grid-template-columns: 200px 800px;
  grid-gap: 0px;
}
.grid-container-right {
  top: 0;
  right: 0;
  margin-right: 25%;
}

.navbar {
  grid-column: 1 / 1;
  padding: auto;
}
.navbar h2 {
  color: red;
  animation: glitch-n 50ms infinite;
  text-align: left;
}

.main-content {
  grid-column: 2 / 2;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-rows: 40% 5% 25% 30%;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  animation: glitch-n 50ms infinite;
}

/* FOOTY BUSSINESS */

.footer {
  grid-column: 1 / span 2;
  grid-row: 2 / 2;
  text-align: center;
}

.footer a:hover {
  color: white;
  animation: glitch-h 50ms infinite;
}

.silly-footer {
  font-size: larger;
  font-weight: bold;
}

.silly-footer a:link {
  text-decoration: none;
}

.inspired {
  font-size: small;
  color: red;
}

.inspired a:link {
  text-decoration: none;
  color: green;
 }

 /* Gio was Here  */
 /* The poes */

.navbar li {
  list-style: square;
  margin-left: 0.2em;
  margin-top: 5px;
  text-align: left;
}
.navbar li:hover {
  color: white;
  border: #ff0f0f solid 1px;
  text-decoration: line-through;
  animation: glitch-h 180ms infinite;
  /* add a random rotation effect when hovered inshallah */
}
.navbar p {
  font-weight: bold;
}

/*M A I N  C O N T E N T  G R I D*/

.page-about {
  grid-column: 1 / span 4;
  padding: 10px;
  display: flex;
  align-items: center;
  margin: 10px;
}

.welcome {
  font-size: 22px;
  margin: 2px;
  margin-top: 8em;
  text-align: left;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.welcome h1 {
  font-weight: lighter;
  font-family: "planetk-regular";
}

.main-content-img {
  margin: 10px;
  display: flex;
  background-color: var(--background-color);
  grid-column: 1 / span 2;
  grid-row: 2 / 2;
  border: 1px solid red;
}
.main-content-img img {
  max-width: 100%;
}

.page-updates {
  scrollbar-width: none;
  background-color: black;
  height: auto;
  grid-column: 1 / span 4;
  grid-row: 4 / 4;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: -2.3em;
  margin-bottom: 1em;
  padding: 10px;
  border: 1px solid red;
}
.page-updates li {
  margin-right: 5em;
  padding: 10px;
  border-bottom: darkred 1px solid;
}

.page-updates li :hover {
  color: white;
  animation: glitch-h 64ms infinite;
}

.page-updates p {
  font-weight: bold;
  padding: 5px;
}

.page-updates-heading {
  border: red 1px solid;
  text-align: center;
  font-size: larger;
}

.main-content a {
  text-decoration: none;
  color: darkred;
}
.navbar a {
  text-decoration: none;
  color: inherit;
}

.navbar h2 {
  color: rgb(250, 13, 13);
  font-size: xxx-large;
}